<!DOCTYPE html>
<html>
  <head>
    <title>This is my first node js web page</title>
    <link rel="stylesheet" href="/assets/styles.css" type = "text/css">
  </head>
  <body>
    <% include partials/nav.ejs%>
    <h1>Welcome to the most awesome website on the earth</h1>
    <p>you won't find a website better anywhere else!!!!!!!!!</p>
  </body>
</html>
